# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.egg-info/
dist/
build/

# Robot Framework
results/
output.xml
log.html
report.html
*.robot~   # backup files

# Environment files 

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
